{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container main">
        <div class="title">
            <h2 class="bold">Licenses & Certifications</h2>
        </div>
        <div class="row">
            <div class="tag" id="btnAll">All</div>
            {% for tech in technologies %}
                <button class="tag" id="btn{{ tech }}">{{ tech }}</button>
            {% endfor %}
        </div>
            <div class="row my-shuffle-container">
                {% for certification in certifications %}
                    <div class="three columns certification-item" data-groups='{{ certification.technology }}'>
                        <a class="more-details" href="certifications/{{ certification.id }}" id="manual-ajax" rel="modal:open">
                            <img class="image" src="{{ MEDIA_URL }} {{ certification.image }} ">
                            <h4>{{ certification.name }} by {{ certification.issuing_organization }}</h4>
                            <h4>Issued: {{ certification.finish_date | date:"M" }}
                                    -{{ certification.finish_date |date:"Y" }}</h4>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="twelve columns my-sizer-element"></div>

        </div>

    </div>


{% endblock %}