{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container main">
        <div class="title">
            <h2 class="bold">Licenses & Certifications</h2>
        </div>

        <div id="shuffleContainer" class="row">
            <div class="three columns">
                {% for certification in certifications %}
                    <a class="more-details" href="certifications/{{ certification.id }}" id="manual-ajax" rel="modal:open">
                        <div class="certification-item" id="certification-item" data-group="{{ certification.name }}">
                            <img class="image" src="{{ MEDIA_URL }} {{ certification.image }} ">
                            <h4>{{ certification.name }} by {{ certification.issuing_organization }}</h4>
                            <h4>Issued: {{ certification.finish_date | date:"M" }}
                                    -{{ certification.finish_date |date:"Y" }}</h4>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}