/* Table of Contents
----------------------------------------------------
- General Content
- Navigation Bar
- Typography
- Header & Navigation
- Images & Media
- Footer
- Media Queries
----------------------------------------------------*/

/* General Content
----------------------------------------------------*/
.main {
    padding-top: 3%;
}

.row {
    padding: 2% 0%
}

.green {
    background-color: #7accc8;
}

/* Navigation Bar
----------------------------------------------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Abel', sans-serif;
}

.logo {
    color: #3f7f7c;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.logo h1 {
    font-size: 0.5em;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.logo h4 {
    font-size: 2em;
    letter-spacing: 5px;
    margin-bottom: 0;
}

.nav-links {
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin-bottom: 0;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #3f7f7c;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #3f7f7c;
    transition: all 0.3s ease
}

header.main_nav {
    padding: 1% 0;
    display: block;
}

/* Typography
----------------------------------------------------*/
body {
    font-family: 'Abel', sans-serif;
    font-size: 1.5em;
    color: black;
}

h2 {
    font-family: 'Satisfy', cursive;
    font-size: 3em;
    margin: 0.67em;
}

h2.bio {
    color: #3f7f7c;
}

p.bio {
    color: #fff
}

/* Images & Media
----------------------------------------------------*/
img {
    max-width: 100%;
}

img.avatar {
    border-radius: 400px;
    border: 5px solid #fff;
}

/* Work Experience
----------------------------------------------------*/
.work_exp .title {
    margin-bottom: 20px;
    font-size: 3em;
    font-family: 'Satisfy', cursive;
}

.work_exp .bold {
    color: #3f7f7c;
}

.work_exp ul {
    padding-left: 40px;
    overflow: hidden;
}

.work_exp ul li {
    position: relative;
    list-style: none
}

.work_exp li:before {
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #3f7f7c;
}

.work_exp li:after {
    content: "";
    position: absolute;
    top: 14px;
    left: -21px;
    width: 2px;
    height: 180px;
    background: #7accc8;
}

.work_exp ul li .info {
    margin-bottom: 20px;
}

.work_exp ul li:last-child .info {
    margin-bottom: 0;
}

.work_exp .date {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

/* Footer
----------------------------------------------------*/
ul.social {
    display: block;
    margin: 5% 0;
    list-style-type: None;
    text-align: center;

}

ul.social li {
    font-size: 3em;
    display: inline;
    padding: 0 2%
}

ul.social li a {
    color: #666;
}

ul.social li.github a:hover {
    color: #222;
}

ul.social li.twitter a:hover {
    color: rgb(0, 172, 237);
}

ul.social li.instagram a:hover {
    color: rgba(156, 0, 59, 0.78);
}

ul.social li.linkedin a:hover {
    color: rgb(0, 123, 182);
}

p.copyright {
    text-align: center;
    color: #ccc;
    font-size: 1em;
}

/* Media Queries
----------------------------------------------------*/
@media (max-width: 479px) {
    .main {
        padding-top: 15%;
    }

    .portfolio img {
        margin-bottom: 10%;
    }

    img.avatar {
        margin-top: 15%;
    }

    h2.bio {
        font-size: 2.5em;
    }

    p.bio {
        font-size: 1.25em;
        color: #3f7f7c
    }

    ul.social li a {
        font-size: .75em;
    }
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    h4 {
        margin-bottom: 0;
    }

    .about-me {
        position: Relative;
        z-index: -1;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #7accc8;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
