{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container main">

            <div class="title">
                <h2 class="bold">Work Experience</h2>
            </div>
            <ul class="jobs">
                {% for job in jobs %}

                    <li class="job">

                        <div class="info" >

                            <p class="job-title semi-bold">
                                {{ job.title }} @
                                <a href="{{ job.url_company }}"> {{ job.company }}</a>
                            </p>
                            <p class="job-project">{{ job.project }}</p>
                            <p class="date">{{ job.start_date |date:"M" }} {{ job.start_date |date:"Y" }}
                                - {{ job.end_date |date:"M" }} {{ job.end_date |date:"Y" }}
                                - {{ job.employment_type }}</p>
                            <p class="technologies">Technologies:</p>
                            <ul class="tags">
                                {% for tech in job.technologies.all %}
                                    <li><a href="#" class="tag">{{ tech }}</a></li>
                                {% endfor %}
                            </ul>
                             <a class="more-details" href="jobs/{{ job.id }}" id="manual-ajax" rel="modal:open">
                                <i class="fas fa-plus-circle">More Details</i>
                            </a>
                        </div>

                    </li>
                {% endfor %}
            </ul>
    </div>

{% endblock %}