{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container main">

    <div class="work_exp">
        <div class="title">
           <p class="bold">Work Experience</p>
        </div>
        <ul>
            {% for job in jobs %}
                <li>
                    <div class="date">{{job.start_date |date:"M" }} {{job.start_date |date:"Y" }} - {{job.end_date |date:"M"}} {{job.end_date |date:"Y"}} - {{job.employment_type}}</div>
                    <div class="info">
                        <p class="semi-bold">{{job.title}} - {{job.company}} - {{job.location}}</p>
                        <p>{{job.description}}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}