{% load static %}
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>G0nG0n Portfolio</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/all.css' %}" type="text/css" media="all">

    <!-- FONTZ --------------------------------------------------->
    <link href="https://fonts.googleapis.com/css?family=Abel|Satisfy&display=swap" rel="stylesheet">
</head>
<body>
<header class="main_nav green">
    <nav>
        <div class="logo">
            <h4>g0ng0n</h4>
            <h1>Software Developer</h1>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/jobs">Experience</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/certifications">Certifications</a>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>


    {% block content %}

    {% endblock %}


<footer>
    <div class="container">
        <div class="row twelve columns">
            <ul class="social">
                <li class="github"><a href="#"><i class="fab fa-github-square fa-lg"></i></a></li>
                <li class="twitter"><a href="#"><i class="fab fa-twitter-square fa-lg"></i></a></li>
                <li class="instagram"><a href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
                <li class="linkedin"><a href="#"><i class="fab fa-linkedin fa-lg"></i></a></li>
            </ul>
        </div>
        <div class="row twelve columns">
            <p class="copyright">&copy; 2020 g0n Portfolio. All Rights Reserved.</p>
        </div>
    </div>
</footer>
<script src="{% static '/js/app.js' %}"></script>
<!-- Remember to include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</body>
</html>
