
{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="about-me row green">
    <div class="container">
        <div class="four columns">
            <img class="avatar" src="{% static 'images/g0n.jpeg' %}">
        </div>
        <div class="eight columns">
            <h2 class="bio">About Me</h2>
            <p class="bio">I am a passionate self-taught programmer who undertakes complex assignments, meets tight deadlines and delivers superior performance. I have practical knowledge of multiple backend technologies and frameworks mainly related to Java Stack. I have worked on several projects that succeeded and are now live on the web. Nowadays I am switching to being a Fullstack Developer and am prepared to achieve that through investing a lot of time and effort. Also I have the European Passport (Spanish Citizen).</p>
        </div>
    </div>
</div>


{% endblock %}